doc/gitHubDocs/html/
*build*/
*.log
*.json
CMakeFiles/cmake.check_cache
CMakeCache.txt
testing/data/simIO_serial_test_files/SurfXTest1*
testing/data/simIO_serial_test_files/*cube*
testing/data/simIO_parallel_test_files/cube_1/*
testing/data/simIO_parallel_test_files/cube_2/*
testing/data/simIO_parallel_test_files/cube_4/tmpFiles/*
testing/data/simIO_parallel_test_files/cube_4/Rocmop/*
testing/data/simIO_parallel_test_files/cube_4/Rocman/*
testing/data/simIO_parallel_test_files/cube_4/RocburnAPN/*
testing/data/simIO_parallel_test_files/cube_4/*.txt
testing/data/simIO_parallel_test_files/cube_4/Rocflu/Modin/*
testing/data/simIO_parallel_test_files/cube_4/Rocflu/Modout/*
testing/data/simIO_parallel_test_files/cube_4/Rocflu/Rocout/*
testing/data/simIO_parallel_test_files/*extracted*
testing/data/ACM_Rocflu/ACM_data/*
testing/data/ACM_Rocflu/ACM_4/RocburnAPN/*
testing/data/ACM_Rocflu/ACM_4/Rocman/*
testing/data/ACM_Rocflu/ACM_4/Rocmop/*
testing/data/ACM_Rocflu/ACM_4/*.txt
testing/data/ACM_Rocflu/ACM_4/*.log
testing/data/ACM_Rocflu/ACM_4/Rocflu/Modin/*
testing/data/ACM_Rocflu/ACM_4/Rocflu/Modout/*
testing/data/ACM_Rocflu/ACM_4/Rocflu/Rocout/*
testing/data/ACM_Rocflu/ctest_reference/*
testing/data/modules/*
testing/data/simIO_parallel_test_files/cube_4/Rocflu/RocfluControl.txt
testing/data/simIO_serial_test_files/burn_in_00.000000.txt
*Results*
testing/data/simIO_serial_test_files/quad1_1_sdv.cgns
testing/data/simIO_serial_test_files/quad2_1_sdv.cgns
testing/data/simIO_serial_test_files/FaceNormalsOutput.cgns
testing/data/ACM_Rocflu/ACM_4/Rocflu/RocfluControl.txt
testing/data/simIO_parallel_test_files/cubeTest.msh
